<table class="contactdata">
    <tr>
        <th>Contact Id</th>
        <th class="name">Name</th>
        <th class="addr">Address</th>
        <th class="phone_num">Phone Num</th>
        <th>Phone Type</th>
        <th>Email</th>
        <th class="company">Company</th>
        <th>Job Title</th>
    </tr>
    {{#each contactdata}}
        <tr><td data-title="Contact Id">{{contactid}}</td>
            <td data-title="Name">{{name}}</td>
            <td data-title="Address">{{address}}</td>
            <td data-title="Phone Num">{{phone_num}}</td>
            <td data-title="Phone Type">{{phone_type}}</td>
            <td data-title="Email">{{email}}</td>
            <td data-title="Company">{{company}}</td>
            <td data-title="Job Title">{{position}}</td></tr>
    {{/each}}
</table>
